# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/
__pycache__/

# My credentials
**.secret_json

# IntelliJ
*.idea

# Data Files
**.parquet
**.csv
**.zip

